<div class="login-container">
    <div>
        <span>Usuario logado: {{getUserLog()}}</span>
        <button type="button" class="btn btn-danger" (click)="logout()">
            Logout
        </button>
    </div>

    <div>
        <h2>Novo Usuario</h2>
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" [(ngModel)]="usuario.nome" name="nome" required>
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="text" id="email" [(ngModel)]="usuario.email" name="email" required>
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="text" id="senha" [(ngModel)]="usuario.senha" name="senha" required>
            </div>
            <div>
                <label for="perfil">Perfil</label>
                <select id="perfil" [(ngModel)]="usuario.perfil" name="perfil" required>
                    <option value="1">ADMIN</option>
                    <option value="2">USER</option>
                </select>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>
</div>