<div class="login-container">
    <div>
        <span>Usuario logado: {{getUserLog()}}</span>
        <button type="button" class="btn btn-danger" (click)="logout()">
            Logout
        </button>
    </div>
    <div>
        <h2>Consultar usuario</h2>
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="id">Identificador do usuario</label>
                <input type="text" id="id" [(ngModel)]="usuario.id" name="id" required>
            </div>

            <button type="submit">Consultar</button>
        </form>
    </div>
    <div>
        <h2>Dados do usuario</h2>
        <form (ngSubmit)="handleEdit()">
            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" [(ngModel)]="usuario.nome" name="nome" required>
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="text" id="email" [(ngModel)]="usuario.email" name="email" required>
            </div>

            <button *ngIf="isPodeEditar" type="submit">Editar</button>
        </form>
    </div>
</div>